<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{% block title %}FluidCV{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/blueprint/screen.css"
        type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" type="text/css"
        href="/static/css/cupertino/jquery-ui-1.8.10.custom.css">
  <link rel="stylesheet" href="/static/css/token-input.css" type="text/css" media="screen" />
  <script src="https://www.google.com/jsapi?key=ABQIAAAANjXEYF7hhMJgq9DDomV7WBTPhWNRFcLx4GVbpvyM-Pi6igIxzBQGpYbt_miId3Ce_CZtUWa61nJKGw" type="text/javascript"></script>
  <script language="Javascript" type="text/javascript">
  //<![CDATA[
  google.load("jquery", "1");
  google.load("jquery-ui", "1");
  //]]>
  </script>
  <script type="text/javascript"
          src="/static/js/jquery.tokeninput.js"></script>
</head>
<body>
  <section class="container">
    {% block body %}{% endblock %}
  </section>
</body>
</html>
